<!DOCTYPE html>
<html lang="en">
<!-- Head defines favicon, title on tab, and 'meta' stuff -->
<head>
	<meta charset="utf-8">
	<title>WMS Forms</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/cards.png') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/cards.png') }}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
</head>

<header>

<style>
h1{
	text-align: center;
}
</style>
</header>

<body>
<div class="container">
	<h1>Welcome to the WMS Forms Site</h3>
		<p>Please sign sign all appropriate forms below</p>
		<a class="btn btn-default" href="/sixth_form/" role="button">6th Grade</a>
</div>


</body>
